version: '3.8'
services:
  nest-app:
    build:
      context: ./
      dockerfile: ./Dockerfile
    depends_on:
      - mysql-container
      - redis-container
    ports:
      - 3005:3005
    # networks:
    #   - common-network
  mysql-container:
    image: mysql
    volumes:
      - /Users/swl/mysql-data:/var/lib/mysql
    environment:
      MYSQL_DATABASE: meeting_room_booking_system
      MYSQL_ROOT_PASSWORD: swl
    # networks:
    #   - common-network
  redis-container:
    image: redis
    volumes:
      # - D:/project/Docker/redis-test:/data
      - /Users/guang/redis-data:/data
    # networks:
    #   - common-network
# networks:
#   common-network:
#     driver: bridge
